.contact-card {
  background-color: rgba(177, 170, 170, 0.75);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.btn-send {
  background-color: #1d1d1f;
  color: white;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
}

.btn-send:hover {
  background-color: #0b5ed7;
}
